$primary-color: #de3333;

/*--This effects all btn-lg buttons on the page--*/

//GSAP MARKER BUG
.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  // display: none !important;
}
.btn {
  border-radius: 0rem;
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

.btn-secondary {
  color: #222222;
  background-color: white;
  border: 0.1rem solid white;
}

.btn-primary {
  color: $primary-color;
  background-color: inherit;
  border: solid $primary-color;
  &:hover {
    background-color: $primary-color !important;
    border: 0.5px solid black;
  }
}

.btn-primary:focus {
  background-color: white !important;
}
