//Connect with me section
.connect-container {
    h2 {
        font-weight: 800;
    }
    a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        &:hover,
        &:focus {
            color: #ed3333;
        }
    }
}

// Agent information
footer {
    background-color: #383838;
    padding: 1rem 2rem 3rem;
    img {
        height: 5rem;
        margin: 1.5rem auto;
    }
    h3 {
        font-weight: 800;
    }
    h4 {
        color: #8a0303;
    }
}

footer p,
footer a,
.socket a {
    color: white;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
    li {
        font-size: 1.2rem;
        margin: 0 auto;
        a:hover {
            color: #8a0303;
            text-decoration: none;
        }
        a:focus {
            color: #8a0303;
        }
    }
}


/*============= Copyright SOCKET =============*/

.socket {
    background-color: #222222;
    border-top: .1rem solid white;
}