footer {
    background-color: #383838;
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 3.5rem;
    margin: 1.5rem auto;
}

footer p,
footer a,
.socket a {
    color: white;
    text-decoration: none;
}

ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
}

ul.social li {
    margin: 0 auto;
}

footer .svg-inline--fa:hover {
    color: #68a0d2;
}


/*============= Copyright SOCKET =============*/

.socket {
    background-color: #222222;
    border-top: .1rem solid white;
}