.headshot-section {
  position: relative;
  top: 5rem;
  height: calc(100vh - 5rem);
  // border: yellow 3px solid;
  width: 100%;
}
.headshot-container {
  display: flex;
  gap: 1rem;
  justify-content: center;

  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 0 6rem;
  margin: auto;
  // border: red 3px solid;
  .small-img-container {
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    min-width: 160px;

    // -webkit-animation: fadeinsmall 0.7s ease; /* Safari, Chrome and Opera > 12.1 */
    // -moz-animation: fadeinsmall 0.7s ease; /* Firefox < 16 */
    // -ms-animation: fadeinsmall 0.7s ease; /* Internet Explorer */
    // -o-animation: fadeinsmall 0.7s ease; /* Opera < 12.1 */
    animation: fadeinsmall 1s ease;
    // border: purple 3px solid;
    .small-img-border {
      //ANIMATION
      -webkit-animation: fadeinsmall 1.6s ease; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinsmall 1.6s ease; /* Firefox < 16 */
      -ms-animation: fadeinsmall 1.6s ease; /* Internet Explorer */
      -o-animation: fadeinsmall 1.6s ease; /* Opera < 12.1 */
      animation: fadeinsmall 1.6s ease;
      //max-height: calc((100vh - 5rem) / 3);
      overflow: hidden;
      border: white 3px solid;
      position: relative;
      height: 9rem;
      &:hover {
        .small-img {
          opacity: 1;
        }
      }
      .headshot-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        //border: 3px solid pink;
        .view-headshot-button,
        .download-headshot-button {
          display: flex;
          align-items: center;
          height: 100%;
        }
        .view-headshot-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          //padding: 2rem 3rem;
          h4 {
            font-size: clamp(0.6rem, 1.5vw, 0.9rem);
            text-transform: uppercase;
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            letter-spacing: -1px;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
          }
          .small-img {
            position: absolute;
            width: 100%;
            opacity: 0.3;
          }
        }
        .download-headshot-button {
          width: 100%;
          background-color: grey;
          color: white;
          z-index: 1;
          border: white 3px solid;
          text-decoration: none;
          h4 {
            font-size: clamp(0.6rem, 1.5vw, 0.9rem);
            text-transform: uppercase;
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            letter-spacing: -1px;
            margin: auto;
            padding: 0.5rem;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
          }
        }
      }
    }
    .active {
      //border: 1em white solid;

      img {
        opacity: 0.9 !important;
      }
    }
  }
  .main-img-container {
    margin-bottom: 1rem;
    //ANIMATION
    -webkit-animation: fadeinlarge 1.3s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinlarge 1.3s ease; /* Firefox < 16 */
    -ms-animation: fadeinlarge 1.3s ease; /* Internet Explorer */
    -o-animation: fadeinlarge 1.3s ease; /* Opera < 12.1 */
    animation: fadeinlarge 1.3s ease;
    .large-img {
      height: 100%;
      width: 100%;
      border: white 3px solid;
      object-fit: contain !important;
    }
  }
}
