.headshot-section {
  height: calc(100vh - 5rem);
  max-width: 1400px;
  margin: auto;
  @include tablet {
    //margin-top: 105.19px;
  }
  .headshot-container {
    display: flex;
    height: calc(100vh - 5rem);
    padding: 0 6rem;
    border: red 3px solid;
    .small-img-container {
      flex: 1;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      border: purple 3px solid;
      .small-img-border {
        display: flex;
        align-items: center; /* vertical */
        justify-content: center; /* horizontal */
        height: calc((100vh - 5rem) / 3);
        overflow: hidden;
        border: yellow 3px solid;
        position: relative;

        &:hover {
          .small-img {
            opacity: 1;
          }
        }
        .small-img-title {
          position: absolute;
          z-index: 3;
          padding: 1rem;
          text-align: center;
          font-weight: 600;
          font-size: 1.5rem;
          width: 100%;
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
        }
        .small-img {
          width: 100%;
          opacity: 0.3;
        }
      }
      .active {
        //border: 1em white solid;

        img {
          opacity: 0.9 !important;
        }
      }
    }
    .main-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      flex: 2;

      border: blue 3px solid;
      .large-img {
        height: calc(100vh - 13rem);
        width: 100%;
        object-fit: contain;
      }
      .download-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        border: green 3px solid;
        .download-btn {
          text-align: center;
          padding: 1rem 2rem;
          border: yellow 3px solid;
          color: white;
          font-weight: 800;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
