.headshot-container {
    position: relative;
    top: 40px!important;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 0px!important;
    top: 5rem;
    max-width: 1400px;
    max-height: 2000px;
    .main-row {
        position: relative;
        top: -20px;
        left: 0%;
        transform: translate(0%, 0%);
        padding-bottom: 0px;
    }
    h1 {
        position: relative;
        transform: translate(0%, -0%);
        font-size: 1.5rem;
        font-weight: 800;
        z-index: 2;
    }
    .headshot-border {
        width: 100%;
        border: 3px solid black;
        overflow: hidden;
    }
    img {
        position: relative;
        min-height: 600px;
        max-height: 1100px;
        height: 80vh;
        object-fit: cover;
        transform: scale(1.45);
        position: relative;
        top: 8rem;
        width: auto;
    }
    .headshot-btns {
        position: relative;
        transform: translate(0%, 0%);
        font-size: 5rem;
        a {
            font-size: .9rem;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.dqt {
    color: $primary-color;
}