.reel-container {
  position: relative;
  top: 5rem;
  height: calc(100vh - 5rem);
  background: $primary-color;
  border: 3px solid green;
  .reel-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    max-width: 1400px;
    border: 3px solid yellow;
    margin: auto;
    .reel-title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border: 3px solid brown;
      padding-top: 3rem;
      h1 {
        text-align: center;
        border: 3px solid black;
      }
    }
    .homepage-reel {
      height: calc(75vh - 11rem);

      max-width: 1400px;
      padding: 0rem 6rem;
      border: 3px solid purple;
    }
    .reel-download-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border: 3px solid blue;
      padding-bottom: 3rem;
    }
    .reel-buttons {
      gap: 1rem;

      border: 3px solid green;
    }
  }
}
