.reel-container-bg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 7%);
    height: 95vh;
    background: #8a0303!important;
    .reel-container {
        position: absolute;
        left: 0%;
        transform: translate(0%, 20%);
        width: 100%;
        height: 60vh;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    .reel-btns {
        position: relative;
        left: 0%;
        transform: translate(0%, 60%);
    }
}