.reel-container {
  scroll-snap-align: center;
  position: relative;
  top: 5rem;
  height: calc(100vh - 5rem);
  min-height: 400px;
  background: $primary-color;
  border: 3px solid green;
  display: flex;
  .reel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    max-width: 1400px;
    border: 3px solid yellow;
    margin: auto;
    height: 100%;
    overflow: hidden;

    .reel-title {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid brown;
      padding: 3rem 0 0;
      //ANIMATION
      -webkit-animation: fadeinsmall 1s ease; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinsmall 1s ease; /* Firefox < 16 */
      -ms-animation: fadeinsmall 1s ease; /* Internet Explorer */
      -o-animation: fadeinsmall 1s ease; /* Opera < 12.1 */
      animation: fadeinsmall 1s ease;
      h1 {
        font-size: clamp(1.5rem, 5vw, 2rem);
        text-transform: capitalize;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        border: 3px solid black;
        margin: 0;
      }
    }
    .homepage-reel {
      min-height: 200px;
      width: 100%;
      padding: 0rem 6rem;
      border: 3px solid purple;
      //ANIMATION
      -webkit-animation: fadeinlarge 1.3s ease; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinlarge 1.3s ease; /* Firefox < 16 */
      -ms-animation: fadeinlarge 1.3s ease; /* Internet Explorer */
      -o-animation: fadeinlarge 1.3s ease; /* Opera < 12.1 */
      animation: fadeinlarge 1.3s ease;
    }
    .reel-download-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: 3px solid blue;
      padding: 0 0 3rem;
      //ANIMATION
      -webkit-animation: fadeinsmall 1s ease; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinsmall 1s ease; /* Firefox < 16 */
      -ms-animation: fadeinsmall 1s ease; /* Internet Explorer */
      -o-animation: fadeinsmall 1s ease; /* Opera < 12.1 */
      animation: fadeinsmall 1s ease;
      a {
        border: 3px solid white;
        padding: 0.5rem 3rem;
        font-size: clamp(0.5rem, 5vw, 0.8rem);
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: -1px;
        color: white;
        background-color: grey;
      }
    }
  }
}
