.resume-container {
  scroll-snap-align: center;
  min-height: 400px;
  position: relative;
  top: 5rem;
  height: calc(100vh - 5rem);
  background: url('../img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid purple;
}
.resume-content {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid yellow;
  height: 100%;
  width: 100%;
  .resume-title {
    margin-bottom: 0;
    text-align: center;
    border: 3px solid brown;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .resume-border {
    border: 3px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    max-height: calc(90vh - 15rem);
    img {
      height: calc(80vh - 15rem);
      min-height: 200px;
      width: 100%;
      object-fit: contain !important;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }
  .download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 3px solid red;

    a {
      border: 3px solid white;
      padding: 0.5rem 3rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      letter-spacing: -1px;
      color: white;
      background-color: grey;
    }
  }
}
