/*-- Bootstrap Mobile Gutter Fix --*/

.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

//SASS MIXINS
@mixin tablet {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}

@media (max-width: 1049.98px) {
  nav {
    .nav-container {
      flex-direction: column;
      padding: 0;
    }
  }
  .logo {
    font-size: clamp(1.2rem, 100vw, 3rem) !important;
    justify-content: center;
    height: 4rem !important;
    align-items: flex-end !important;
  }
  .menu {
    height: 3rem !important;
    width: 100% !important;
    justify-content: center;
    align-items: flex-start !important;
    .navbar-nav {
      justify-content: center !important;
    }
  }
  //HEADSHOT PAGE
  .headshot-section {
    top: 7rem !important;
    height: calc((var(--vh, 1vh) * 100) - 7rem) !important;
  }
  .small-img-container {
    height: 100%;
  }
  .main-img-container {
    // height: 100% !important;
    .large-img {
      height: 100%;
    }
  }
  //HOMEPAGE
  .intro-container {
    top: 7rem !important;
    height: calc((var(--vh, 1vh) * 100) - 7rem) !important;
  }
  .intro-content {
    padding: 0 6rem !important;
  }
  .spacing {
    height: calc((var(--vh, 1vh) * 100) - 7rem) !important;
  }
  .reel-container {
    top: 7rem !important;
    height: calc((var(--vh, 1vh) * 100) - 7rem) !important;
  }
  .resume-container {
    top: 7rem !important;
    height: calc((var(--vh, 1vh) * 100) - 7rem) !important;
  }
  footer {
    top: 7rem !important;
  }
  .footer-content {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      ' social social portfolio portfolio'
      ' contact contact attribute attribute' !important;

    .social-media {
      .social-icons {
        margin: auto;
      }
    }
  }
}
@media (max-width: 859.98px) {
  //   //HEADSHOT PAGE LAYOUT CHANGE

  //   .headshot-section {
  //     .headshot-container {
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       padding: 0 3rem;
  //       height: 100%;

  //       .small-img-container {
  //         // height: 100px;
  //         display: flex;
  //         flex-direction: row;
  //         height: unset !important;
  //         overflow: hidden;
  //         .small-img-border {
  //           flex: 1;
  //           height: unset;
  //           .view-headshot-button {
  //             padding: 1rem;
  //           }
  //         }
  //       }
  //       .main-img-container {
  //         height: calc((var(--vh, 1vh) * 100) - 15rem) !important;
  //         .large-img {
  //           height: calc((var(--vh, 1vh) * 100) - 15rem) !important;
  //           width: 100%;
  //           margin-bottom: 0;
  //         }
  //       }
  //     }
  //   }
}
@media (max-width: 799.98px) {
  .menu {
    .navbar-nav {
      padding: 0 3rem !important;
    }
  }
  .homepage-reel {
    padding: 3rem 0rem !important;
  }
  .resume-border {
    padding: 0 3rem !important;
  }
  .footer-content {
    padding: 3rem 3rem 6rem !important;
  }

  //HEADSHOT PAGE
  .headshot-container {
    justify-content: unset !important;
    flex-direction: column !important;
    .small-img-container {
      flex-direction: row !important;
      height: unset !important;
      .small-img-border {
        flex: 1;
        height: 5rem !important;
      }
    }
    .main-img-container {
      // height: 100%;
      // border: blue 3px solid;
      //ANIMATION
      -webkit-animation: fadeinlarge 1.3s ease; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeinlarge 1.3s ease; /* Firefox < 16 */
      -ms-animation: fadeinlarge 1.3s ease; /* Internet Explorer */
      -o-animation: fadeinlarge 1.3s ease; /* Opera < 12.1 */
      animation: fadeinlarge 1.3s ease;
      .large-img {
        height: calc((var(--vh, 1vh) * 100) - 15rem) !important;
        max-height: calc((var(--vh, 1vh) * 100) - 15rem) !important;
      }
    }
  }
}
//tablet
@media (max-width: 769.98px) {
  .intro-content {
    padding: 0 3rem !important;
  }
}
//small tablet screen
@media (max-width: 599.98px) {
  .dropdown-menu {
    transform: translate3d(0px, 32px, 0px) !important;
  }
  .logo {
    height: 3rem !important;
  }
  .menu {
    height: 2.5rem !important;
  }
  //RESIZE SPACING
  //HOMEPAGE
  .intro-container {
    top: 5.5rem !important;
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
  }
  .intro-container {
    top: 5.5rem !important;
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
  }

  .spacing {
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
  }
  //HEADSHOT PAGE
  .headshot-section {
    top: 5.5rem !important;
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
    .headshot-container {
      .main-img-container {
        width: unset !important;
        margin-bottom: 0;
      }
    }
  }
  .reel-container {
    top: 5.5rem !important;
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
    .reel-content {
      row-gap: 1rem !important;
      .reel-title {
        padding: 2rem 0 0 !important;
      }
      .reel-download-container {
        padding: 0 0 2rem !important;
      }
    }
  }
  .resume-container {
    top: 5.5rem !important;
    height: calc((var(--vh, 1vh) * 100) - 5.5rem) !important;
    .resume-content {
      row-gap: 1rem !important;
      .resume-title {
        padding-top: 2rem !important;
      }
      .download-resume {
        padding-bottom: 2rem !important;
      }
    }
  }
  footer {
    top: 5.5rem !important;
  }

  .headshot-container {
    padding: 0rem 0rem !important;
  }
  //MAIN PAGE
  .resume-border {
    padding: 0 1rem !important;
  }
  .footer-content {
    padding: 3rem 1rem !important;
  }
}

//Matts name is to long
@media (max-width: 499.98px) {
  .menu {
    height: 2rem;
    .navbar-nav {
      padding: 0 1rem !important;
      column-gap: 2.5rem !important;
      a {
        font-size: clamp(0.5rem, 1vw, 0.8rem) !important;
      }
    }
  }
  a.dropdown-item {
    padding: 0.45rem 1.5rem !important;
  }

  // nav {
  //   h2 {
  //     color: white;
  //     font-size: 1.7rem;
  //     font-weight: 800;
  //   }
  // }
  // .headshot-section {
  //   min-height: calc(100vh - 7.4rem);

  //   .headshot-container {
  //     height: calc(100vh - 7.4rem) !important;
  //     .small-img-container {
  //       .small-img-border {
  //         .small-img-title {
  //           font-size: 1rem !important;
  //         }
  //       }
  //     }
  //   }
  // }
}

//large-MOBILE
@media (max-width: 439.98px) {
  .intro-content {
    padding: 0 1rem !important;
  }
  // nav {
  //   h2 {
  //     color: white;
  //     font-size: 1.5rem;
  //     font-weight: 800;
  //   }
  //   .navbar-nav {
  //     a {
  //       color: white;
  //       font-weight: 600;
  //       font-size: 0.8rem;
  //     }
  //   }
  // }
  // .headshot-section {
  //   top: 6.6rem !important;
  //   min-height: calc(100vh - 6.5rem);

  //   .headshot-container {
  //     height: calc(100vh - 6.5rem) !important;
  //     .small-img-container {
  //       .small-img-border {
  //         .small-img-title {
  //           font-size: 0.8rem !important;
  //         }
  //       }
  //     }

  //     .main-img-container {
  //       .large-img {
  //         height: calc(85vh - 7.8rem) !important;
  //       }
  //       .download-container {
  //         .download-btn {
  //           font-size: 1rem !important;
  //         }
  //       }
  //     }
  //   }
  // }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto;
    row-gap: 3rem !important;
    grid-template-areas:
      'contact portfolio'
      'attribute attribute'
      'social social' !important;
    .footer-portfolio {
      grid-area: portfolio;
      text-align: end !important;
      // border: 3px solid black;
      h4 {
        text-align: end;
        font-size: 0.9rem;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }
      .footer-portfolio-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // border: 3px solid orange;
        a {
          font-size: 0.7rem;
          font-weight: 500;
          text-transform: capitalize;
          margin: 0.5rem 0;
        }
      }
    }
  }
}
//medium-Mobile
@media (max-width: 389.98px) {
  // nav {
  //   h2 {
  //     color: white;
  //     font-size: 1.3rem;
  //     font-weight: 800;
  //   }
  // }
  // .headshot-section {
  //   top: 6.25rem !important;
  //   min-height: calc(100vh - 6.2rem);

  //   .headshot-container {
  //     height: calc(100vh - 6.25rem) !important;
  //   }
  // }
}
//sma;;-mobile
@media (max-width: 339.98px) {
  // nav {
  //   h2 {
  //     color: white;
  //     font-size: 1.2rem;
  //     font-weight: 800;
  //   }
  // }
  // .headshot-section {
  //   .headshot-container {
  //     .main-img-container {
  //       .download-container {
  //         .download-btn {
  //           font-size: 0.8rem !important;
  //         }
  //       }
  //     }
  //   }
  // }
}
