/*============= MEDIA QUERIES =============*/


/* Devices over 1650px (xl) */

@media (min-width: 1400px) {}


/* Devices under 992px (md) */

@media (max-width: 991.98px) {
    .btn-lg {
        font-size: .95rem;
    }
    .headshot-container {
        position: relative;
        top: 5rem;
        h1 {
            transform: translate(0%, 0%)!important;
            font-size: 3rem;
            font-weight: 800;
            z-index: 100;
        }
        img {
            height: 75vh!important;
            object-fit: cover;
        }
        a {
            position: relative;
            font-size: 1.3rem;
        }
    }
}


/* Devices under 770px (md) */

@media (max-width: 770.98px) {
    nav {
        h2 {
            color: white;
            font-size: 2rem;
            font-weight: 800;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            a {
                color: white;
                font-weight: 600;
                font-size: 1rem;
                &:hover,
                &:focus {
                    color: #ed3333;
                }
            }
        }
    }
}

.headshot-container {
    position: relative;
    top: 5rem;
    h1 {
        font-size: 3rem;
        font-weight: 800;
        z-index: 100;
    }
    img {
        height: 70vh!important;
        object-fit: cover;
        right: 0px;
    }
    a {
        position: relative;
        font-size: 1rem;
    }
}


/* Devices under 450px (md) */

@media (max-width: 450px) {
    nav {
        h2 {
            color: white;
            font-size: 1.3rem;
            font-weight: 800;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            a {
                color: white;
                font-weight: 600;
                font-size: .8rem;
                &:hover,
                &:focus {
                    color: #ed3333;
                }
            }
        }
    }
    .headshot-container {
        position: relative;
        top: 2rem!important;
        h1 {
            font-size: 1.5rem!important;
            font-weight: 800;
            transform: translate(0%, 10%)!important;
        }
        img {
            min-height: 400px!important;
            top: 10px!important;
            right: 35px!important;
            transform: scale(1)!important;
        }
        a {
            position: relative;
            top: 0rem;
            font-size: .65rem!important;
        }
    }
    ul.social {
        li {
            font-size: 0.9rem!important;
            margin: 0 auto;
            a:hover {
                color: #ed3333;
                text-decoration: none;
            }
            a:focus {
                color: #ed3333;
            }
        }
    }
}

@media (max-width: 320px) {
    nav {
        h2 {
            color: white;
            font-size: 1.1rem;
            font-weight: 800;
        }
        .navbar-nav {
            display: flex;
            flex-direction: row;
            a {
                color: white;
                font-weight: 600;
                font-size: .7rem;
                &:hover,
                &:focus {
                    color: #ed3333;
                }
            }
        }
    }
    .headshot-container {
        position: relative;
        top: 3rem!important;
        h1 {
            position: absolute;
            transform: translate(10%, 30%)!important;
            font-size: 2rem!important;
            font-weight: 800;
            z-index: 100;
        }
        img {
            height: 80vh!important;
            top: 50px;
            left: 50px!important;
            transform: scale(1.5);
        }
        a {
            position: relative;
            font-size: 1.5rem;
        }
    }
}


/*-- Bootstrap Mobile Gutter Fix --*/

.row,
.container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}