nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 5rem;
  background: black;
  z-index: 10;
  // border: 3px solid white;
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 0 6rem;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    // border: green 3px solid;
    a {
      letter-spacing: 1px;
      color: $off-white;
      font-size: clamp(1rem, 6vw, 2.3rem);
      font-weight: 800;
      white-space: nowrap;
    }
    :hover {
      text-decoration: none;
    }
  }
  .menu {
    // border: 3px solid yellow;
    height: 5rem;
    width: unset;
    display: flex;
    align-items: center;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      // column-gap: 3rem;
      li {
        color: $off-white;
        margin-left: clamp(2.5rem, 5vw, 4rem);
        .active {
          &:hover,
          &:focus {
            color: $primary-color !important;
          }
        }
      }
      li:first-child {
        margin-left: 0rem;
      }
      .dropdown-toggle {
        &:hover {
          color: $primary-color !important;
        }
      }
      .dropdown-menu {
        position: absolute;
        left: -20px !important;
        background: black;
        border-radius: 2%;
        .active {
          background-color: inherit;
          &:hover {
            color: $off-white !important;
          }
        }
        a:hover,
        a:focus {
          background-color: $primary-color;
          color: $off-white;
        }
      }
      a {
        letter-spacing: 3px;
        color: $off-white;
        font-weight: 600;
        font-size: clamp(0.65rem, 1vw, 0.8rem);
        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }
  }

  .active {
    color: $primary-color !important;

    &:hover,
    &:focus {
      color: $off-white !important;
    }
  }
}
