.navbar-brand img {
    height: 3rem;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 2.8rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    background: inherit!important;
    .navbar-brand {
        color: white;
        font-weight: 800;
        &:hover {
            color: #ed3333;
        }
    }
}

.navbar .fa-bars {
    color: #e9e9ef;
    &:focus {
        border: black;
    }
}

.nav-item {
    padding: .5rem;
}

.nav-link {
    color: #e9ecef!important;
}

.nav-link.active,
.nav-link:hover {
    color: #de3333!important;
}


/*--Hamburger icon in navbar--*/

.navbar-toggler button {
    border-radius: 0rem!important;
}

.navbar-toggler-icon {
    height: 1em;
    width: 1em;
}