nav {
    background: black;
    position: fixed;
    width: 100%;
    z-index: 10;
    .logo {
        cursor: pointer;
        text-decoration: none;
    }
    h2 {
        color: white;
        font-size: 2.4rem;
        font-weight: 800;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        li {
            margin: auto;
            color: white;
        }
        .dropdown-menu {
            background: black;
            a:hover,
            a:focus {
                background-color: #ed3333;
                color: black;
            }
        }
        a {
            color: white;
            font-weight: 600;
            font-size: 1rem;
            &:hover,
            &:focus {
                color: #ed3333;
            }
        }
    }
}