.top-bar {
    position: relative;
    width: 100vw;
    background: #e9ecef;
    height: 2.8rem;
    padding: .5rem 0;
    z-index: 100;
}

.top-bar a {
    color: #2c3531;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    &:hover,
    &:focus {
        color: #ed3333;
    }
}