        @import 'config.scss';
        @import 'navbar.scss';
        @import 'socialBar.scss';
        @import 'mobile.scss';
        @import 'home-headshot.scss';
        @import 'home-reel.scss';
        @import 'home-resume.scss';
        @import 'footer.scss';
        body {
            height: 100vh;
            overflow-x: hidden;
            font-family: 'Montserrat', sans-serif;
            color: white;
            background: black;
        }