//DEFAULT SETTING
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html {
//   height: -webkit-fill-available;
// }

body {
  //min-height: 100vh;
  //min-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background: black;
}
.main-scroll-snap {
  position: relative;
  top: 5rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: calc(100vh - 5rem);
}
//ANIMATIONS
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadin {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes loadin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes loadin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes loadin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes loadin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
//fade in small imgs
//ANIMATIONS
@keyframes fadeinsmall {
  0% {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinsmall {
  0% {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinsmall {
  0% {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinsmall {
  0% {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinsmall {
  0% {
    opacity: 0;
    transform: translate(-25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

//fade in larger imgs
//ANIMATIONS
@keyframes fadeinlarge {
  0% {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinlarge {
  0% {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinlarge {
  0% {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinlarge {
  0% {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeinlarge {
  0% {
    opacity: 0;
    transform: translate(25%, 0%);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.my-container {
  border: 3px solid red;
}

.my-row {
  border: 3px solid green;
}

.my-col {
  border: 3px solid blue;
}

//Homepage html Section
@import 'config.scss';
@import 'navbar.scss';
@import 'socialBar.scss';
@import 'mobile.scss';
@import 'home-headshot.scss';
@import 'home-reel.scss';
@import 'home-resume.scss';
@import 'footer.scss';
//Headshot html section
@import 'headshot.scss';
